/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
**/oh_modules
/.appanalyzer
entry/src/main/resources/base/profile/config.json
signing/
release/
/build.ps1
